@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
background-color: #0fc189;
color: white;
font-family: Comfortaa;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#title {
margin-top: 50px;
}

#line {
width: 700px;
height: 3px;
background-color: white;
border-radius: 50px;
margin-top: -15px;
margin-bottom: -7.5px;
}

#numbers {
border: 2px solid white;
padding-top: 15px;
padding-bottom: 14px;
width: 1200px;
border-radius: 10px;
}

#conversionsubject {
display: inline;
border: none;
border-radius: 2px;
width: 150px;
height: 30px;
margin-right: 160px;
font-size: 100%;
padding-left: 10px;
font-family: Comfortaa;
}

#title2 {
display: inline;
margin-right: 20px;
}

#reverse {
margin-top: 30px;
width: 100px;
height: 30px;
font-family: Muli;
font-size: 125%;
padding-top: 3px;
border: none;
cursor: pointer;
border-radius: 5px;
color: #0fc189;
background-color: white;
}

#reverse:hover {
color: white;
}

#solution {
visibility: hidden;
width: 600px;
height: 200px;
background-color: #0a8f65;
border-radius: 50px;
}

#solutiontitle {
padding-top: 17.5px;
margin-bottom: -84px;
}

#solutiontitle2 {
margin-top: -107.5px;
}

#solutionofficial {
padding-bottom: 40px;
font-size: 500%;
}

/* */
/* */
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
position: relative;
background: #e1e1e1;
-webkit-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.15s;
transition-duration: 0.15s;
}
.hvr-shutter-out-horizontal:before {
content: "";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #0a8f65;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transform-origin: 50%;
transform-origin: 50%;
border-radius: 5px;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.15s;
transition-duration: 0.15s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
-webkit-transform: scaleX(1);
transform: scaleX(1);
}
